@{
  ViewData["Title"] = "";
}

<body>
<div style="margin-top: 1%;">
<h2 style="color:#FFFFFF" class="text-center">Pokemon creados por la comunidad</h2>
<div class="row">
  <div id="carusel-comunidad" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner row justify-content-center">
      <div class="img-fluid">
      <div class="carousel-item active">
        <img src="/img/pokemon1.jpg" class="carusel-img">
      </div>
      <div class="carousel-item">
        <img src="/img/pokemon2.jpg" class="carusel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/img/pokemon3.jpg" class="carusel-img " alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carusel-comunidad" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carusel-comunidad" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>
<div class="text-center">
  <h3 class="letra" style="margin-top: 1%;">Creador de Pokemons</h2>
    <br>
    <form action='@Url.Action("GuardarPokemon")' method="post" enctype="multipart/form-data">
      <input name="pokemon.FechaCreacion" value="@DateTime.Now" class="d-none">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="pokemon.Nombre">
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Primer Tipo</label>
        <select class="form-select" id="inputGroupSelect01" name="pokemon.Tipo1">
          <option selected>Choose...</option>
          <option value="Fuego">Fuego</option>
          <option value="Agua">Agua</option>
          <option value="Planta">Planta</option>
          <option value="Bicho">Bicho</option>
          <option value="Veneno">Veneno</option>
          <option value="Volador">Volador</option>
          <option value=">Hada">Hada</option>
          <option value="Dragon">Dragon</option>
          <option value="Normal">Normal</option>
          <option value="Psiquico">Psiquico</option>
          <option value="Fantasma">Fantasma</option>
          <option value="Siniestro">Siniestro</option>
          <option value="Tierra">Tierra</option>
          <option value="Roca">Roca</option>
          <option value="Electrico">Electrico</option>
          <option value="Lucha">Lucha</option>
          <option value="Hielo">Hielo</option>
          <option value="Acero">Acero</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Segundo Tipo(Opcional)</label>
        <select class="form-select" id="inputGroupSelect01" name="pokemon.Tipo2">
           <option value=@null selected>Choose...</option>
          <option value="Fuego">Fuego</option>
          <option value="Agua">Agua</option>
          <option value="Planta">Planta</option>
          <option value="Bicho">Bicho</option>
          <option value="Veneno">Veneno</option>
          <option value="Volador">Volador</option>
          <option value=">Hada">Hada</option>
          <option value="Dragon">Dragon</option>
          <option value="Normal">Normal</option>
          <option value="Psiquico">Psiquico</option>
          <option value="Fantasma">Fantasma</option>
          <option value="Siniestro">Siniestro</option>
          <option value="Tierra">Tierra</option>
          <option value="Roca">Roca</option>
          <option value="Electrico">Electrico</option>
          <option value="Lucha">Lucha</option>
          <option value="Hielo">Hielo</option>
          <option value="Acero">Acero</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Altura</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="pokemon.Altura">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">Peso</span>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="pokemon.Peso">
      </div>

      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02" name="MyFile">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>
      <br>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-primary btn-lg">Crear Pokemon</button>
      </div>
    </form>
</div>
</body>

<br>
<br>
 <div class="text-center">
  <h3 class="letra" style="margin-top: 1%;">Eliminador de Pokemons</h2>
  
    <br>
    <form action='@Url.Action("EliminarPokemon")' method="post" enctype="multipart/form-data">

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input type="text" class="form-control" aria-describedby="basic-addon1" name="nombre">
      </div>

      <br>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-primary btn-lg">Eliminar Pokemon</button>
      </div>
    </form>

</div>