

<body>

<div class="row"  style="margin-top: 5%;">
@foreach (Juego item in ViewBag.ListarJuegos)
{
    <div class="col-3">
    <div class="card text-bg-dark mb-3" style="width: 20rem; display: flex; text-align: center;">
        <img src="@item.FotoJuego" class="card-img-top-2">
        <div class="card-body" >
            <h5 class="card-title">@item.Nombre</h5>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalJuegos"
            onclick="MostrarInfoJuegos('@item.Nombre')">Info</button>
        </div>
    </div>
    </div>
}
</div>

</body>


<div class="modal" tabindex="-1" id="modalJuegos">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalTitulo">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img id="FotoJuego" style="height: 15rem; display: flex; margin: auto;">
        <div id="Nombre"></div>
        <div id="Region"></div>
        <div id="FechaSalida"></div>
        <div id="Generacion"></div>
        <div id="Pokedex"></div>
      </div>
    </div>
  </div>
</div>