@{
    ViewData["Title"] = "";
}
 <h1>Tierlist</h1>

<head>
<br>
</head>

<body background = "/img/algo.jpg">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="false">
   Lista Tierlists
  </a>
  <a href= "TierList1" target = "blank" class="list-group-item list-group-item-action">Iniciales</a>
  <a href="TierList2" target = "blank" class="list-group-item list-group-item-action">Pokemon Unite</a>
  <a href="TierList3" target = "blank" class="list-group-item list-group-item-action">Vgc</a>
  <a href="TierList4" target = "blank" class="list-group-item list-group-item-action">Megaevoluciones</a>
  <a class="list-group-item list-group-item-action disabled">Gigamax(Proximamente)</a>
</div>
<br>
<br>

<input type="file"
       id="avatar" name="avatar"
       accept="image/png, image/jpeg" style="color:#FFFFFF">
</body>

