@{
    ViewData["Title"] = "";
}
 <h1>Tierlist</h1>

<head>
<br>
</head>

<body background = "/img/algo.jpg">
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="false">
   Lista Tierlists
  </a>
  <a href="https://tiermaker.com/create/inicialesdepokmon-23530" target = "blank" class="list-group-item list-group-item-action">Iniciales</a>
  <a href="https://tiermaker.com/create/all-pokmon-in-pokmon-unite-15327428" target = "blank" class="list-group-item list-group-item-action">Pokemon Unite</a>
  <a href="https://tiermaker.com/create/vgc-2021--238373" target = "blank" class="list-group-item list-group-item-action">Vgc</a>
  <a href="https://tiermaker.com/create/megaevoluciones-575981" target = "blank" class="list-group-item list-group-item-action">Megaevoluciones</a>
  <a class="list-group-item list-group-item-action disabled">Gigamax(Proximamente)</a>
</div>
</body>
