USE [master]
GO
/****** Object:  Database [Pokebae]    Script Date: 30/10/2022 21:29:40 ******/
CREATE DATABASE [Pokebae]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pokebae', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\Pokebae.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pokebae_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\Pokebae_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pokebae].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pokebae]
GO
/****** Object:  Table [dbo].[Juegos]    Script Date: 30/10/2022 21:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juegos](
	[Nombre] [varchar](50) NOT NULL,
	[FechaSalida] [datetime] NOT NULL,
	[Region] [varchar](50) NOT NULL,
	[Generacion] [int] NOT NULL,
	[Pokedex] [int] NULL,
 CONSTRAINT [PK_Juegos] PRIMARY KEY CLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pokemons]    Script Date: 30/10/2022 21:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pokemons](
	[IdPokemon] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Foto] [varchar](500) NOT NULL,
	[Tipo1] [varchar](50) NOT NULL,
	[Tipo2] [varchar](50) NULL,
	[Altura] [float] NOT NULL,
	[Peso] [float] NOT NULL,
	[Pokedex] [int] NOT NULL,
	[PAparicion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Pokemons] PRIMARY KEY CLUSTERED 
(
	[IdPokemon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stats]    Script Date: 30/10/2022 21:29:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stats](
	[IdPokemon] [int] NOT NULL,
	[HP] [int] NOT NULL,
	[Ataque] [int] NOT NULL,
	[Defensa] [int] NOT NULL,
	[Atq_sp] [int] NOT NULL,
	[Def_sp] [int] NOT NULL,
	[Velocidad] [int] NOT NULL,
 CONSTRAINT [PK_Stats] PRIMARY KEY CLUSTERED 
(
	[IdPokemon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Juegos] ([Nombre], [FechaSalida], [Region], [Generacion], [Pokedex]) VALUES (N'Pokemon Alfa Zafiro', CAST(N'2014-11-21T00:00:00.000' AS DateTime), N'Hoenn', 6, 719)
INSERT [dbo].[Juegos] ([Nombre], [FechaSalida], [Region], [Generacion], [Pokedex]) VALUES (N'Pokemon Amarillo', CAST(N'1998-09-12T00:00:00.000' AS DateTime), N'Kanto', 1, 151)
INSERT [dbo].[Juegos] ([Nombre], [FechaSalida], [Region], [Generacion], [Pokedex]) VALUES (N'Pokemon Azul', CAST(N'1996-02-27T00:00:00.000' AS DateTime), N'Kanto', 1, 151)
GO
SET IDENTITY_INSERT [dbo].[Pokemons] ON 

INSERT [dbo].[Pokemons] ([IdPokemon], [Nombre], [FechaCreacion], [Foto], [Tipo1], [Tipo2], [Altura], [Peso], [Pokedex], [PAparicion]) VALUES (1, N'Bulbasaur', CAST(N'1996-02-27T00:00:00.000' AS DateTime), N'https://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-lets-go-pikachu-eevee/5/51/Bulbasaur.jpg', N'Planta', N'Veneno', 0.7, 6.9, 1, N'Pokemon Azul')
INSERT [dbo].[Pokemons] ([IdPokemon], [Nombre], [FechaCreacion], [Foto], [Tipo1], [Tipo2], [Altura], [Peso], [Pokedex], [PAparicion]) VALUES (2, N'Ivysaur', CAST(N'1996-02-27T00:00:00.000' AS DateTime), N'https://assets.pokemon.com/assets/cms2/img/pokedex/full/002.png', N'Planta', N'Veneno', 1, 13, 2, N'Pokemon Azul')
INSERT [dbo].[Pokemons] ([IdPokemon], [Nombre], [FechaCreacion], [Foto], [Tipo1], [Tipo2], [Altura], [Peso], [Pokedex], [PAparicion]) VALUES (3, N'Venusaur', CAST(N'1996-02-27T00:00:00.000' AS DateTime), N'https://oyster.ignimgs.com/mediawiki/apis.ign.com/pokemon-omega-ruby-and-alpha-sapphire/1/13/Mega_venusaur.jpg', N'Planta', N'Veneno', 2, 100, 3, N'Pokemon Azul')
GO
SET IDENTITY_INSERT [dbo].[Pokemons] OFF
GO
INSERT [dbo].[Stats] ([IdPokemon], [HP], [Ataque], [Defensa], [Atq_sp], [Def_sp], [Velocidad]) VALUES (1, 45, 49, 49, 65, 65, 45)
INSERT [dbo].[Stats] ([IdPokemon], [HP], [Ataque], [Defensa], [Atq_sp], [Def_sp], [Velocidad]) VALUES (2, 60, 62, 63, 80, 80, 60)
INSERT [dbo].[Stats] ([IdPokemon], [HP], [Ataque], [Defensa], [Atq_sp], [Def_sp], [Velocidad]) VALUES (3, 80, 82, 83, 100, 100, 80)
GO
ALTER TABLE [dbo].[Pokemons]  WITH CHECK ADD  CONSTRAINT [FK_Pokemons_Juegos1] FOREIGN KEY([PAparicion])
REFERENCES [dbo].[Juegos] ([Nombre])
GO
ALTER TABLE [dbo].[Pokemons] CHECK CONSTRAINT [FK_Pokemons_Juegos1]
GO
ALTER TABLE [dbo].[Stats]  WITH CHECK ADD  CONSTRAINT [FK_Stats_Pokemons1] FOREIGN KEY([IdPokemon])
REFERENCES [dbo].[Pokemons] ([IdPokemon])
GO
ALTER TABLE [dbo].[Stats] CHECK CONSTRAINT [FK_Stats_Pokemons1]
GO
USE [master]
GO
