@{
    ViewData["Title"] = "";
}
<h1> Estrategias VGC </h1>

<h2 href="https://youtu.be/Hol__AToYqY">El equipo del campeon explicado</h2>

<h2 href="https://pokemonshowdown.com/">Donde practicar VGC</h2>